<!DOCTYPE html>
<html>
<head>
  <title>  Angry Frog </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="imnage/png" href="/icons/favicon.png"/>

  <link rel="stylesheet" type="text/css" href="/styles/csshake.min.css"/>
</head>

<body>
  <div id="front-screen">
    <div id=title>
      <h1>
        Angry Frog
      </h1>
    </div>
    <div id="frog-pad">
      <div class="frog-row" id="first-row">
        <div class="shake" display="inline">
          <img class="icon" src="/icons/frog.png">
        </div>
        <div class="shake-hard" display="inline">
          <img class="icon" src="/icons/frog.png">
        </div>
        <div class="shake-slow" display="inline">
          <img class="icon" src="/icons/frog.png">
        </div>
        <div class="shake-horizontal" display="inline">
          <img class="icon" src="/icons/frog.png">
        </div>
        <div class="shake-vertical" display="inline">
          <img class="icon" src="/icons/frog.png">
        </div>
        <div class="shake-rotate" display="inline">
          <img class="icon" src="/icons/frog.png">
        </div>
      </div>
      <div class="frog-row" id="second-row">
        <div class="frog-row" id="first-row">
          <div class="shake-opacity" display="inline">
            <img class="icon" src="/icons/frog.png">
          </div>
          <div class="shake-crazy" display="inline">
            <img class="icon" src="/icons/frog.png">
          </div>
          <div class="shake-chunk" display="inline">
            <img class="icon" src="/icons/frog.png">
          </div>
          <div class="shake" display="inline">
            <img class="icon" src="/icons/frog.png">
          </div>
          <div class="shake" display="inline">
            <img class="icon" src="/icons/frog.png">
          </div>
          <div class="shake" display="inline">
            <img class="icon" src="/icons/frog.png">
          </div>
      </div>
    </div>
  </div>
</body>

</html>
