<!DOCTYPE html>
<html>
<head>
  <title>  Angry Frog </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="imnage/png" href="/icons/favicon.png"/>

  <link type="text/css" href="/node_modules/csshake/csshake.min.css">
</head>

<body>
  <div id="front-screen">
    <div id=title>
      <h1>
        Angry Frog
      </h1>
    </div>
    <div id="frog-pad">
      <div class="frog-row" id="first-row">
          <img class="icon" class="shake" src="/icons/frog.png">
          <img class="icon" src="/icons/frog.png">
          <img class="icon" src="/icons/frog.png">
          <img class="icon" src="/icons/frog.png">
          <img class="icon" src="/icons/frog.png">
      </div>
      <div class="frog-row" id="second-row">
        <img class="icon" src="/icons/frog.png">
        <img class="icon" src="/icons/frog.png">
        <img class="icon" src="/icons/frog.png">
        <img class="icon" src="/icons/frog.png">
        <img class="icon" src="/icons/frog.png">
        <div class="shake-hard">
          <p> test </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
